.list-title {
    text-align: center;
    font-size: 30px;
    margin: 15px 0px;
    /* border: 1px solid black; */
    font-family: 'Archivo', sans-serif;
    
}

.list-title-container {
    border: 1px solid rgb(255, 255, 255);
    position: relative;
    box-sizing: border-box;
}

.list-contents-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    align-items: center;
    height: 100%;
}

.list-main-content {
    height: 72.5vh;
}

.list-header-container {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
    align-items: center;
}

.back-button {

    width: 20px;
    height: 20px;
    cursor: pointer;
}

.list-options-menu {
    width: 200px;
    border: 1px solid orange;
    padding: 5px;
    position: absolute;
    right: 30px;
    background-color: white;
    
}
.list-options-menu div {
    text-align: center;
    padding: 5px;
    border: 1px solid green
}

@media (min-width: 600px) {
    .list-title {
        font-size: 70px;
    }

    .back-button {
        top: 40px;
        left: 60px;
    }
}