/* 
.list-title {
    text-align: center;
    font-size: 30px;
    margin: 15px 0px;
    border: 1px solid black;
    font-family: 'Archivo', sans-serif;
    
}

.list-title-container {
    position: relative;
    box-sizing: border-box;

}

.list-contents-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.list-main-content {
    width: 75vw;
    height: 82vh;
    border: 1px solid green;
    overflow: hidden;
}

.list-header-container {
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    margin: 0px 30px;
    align-items: center;
}

.back-button, .more-options-icon {

    width: 20px;
    height: 20px;
    cursor: pointer;
}

.list-options-menu {
    width: 200px;
    border: 1px solid rgb(133, 132, 132);
    padding: 5px;
    position: absolute;
    right: 30px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    
}
.list-options-menu div {
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
}
.list-options-menu div:first-child {
    border-bottom: 1px solid rgb(197, 197, 197);
}
.list-options-menu div:hover {
    cursor: pointer;
    background-color: rgb(236, 234, 234);
}

.list-item-card-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.remove-btn-container {
    cursor: pointer; 
    color: rgb(34, 33, 33);
}

.remove-btn-container:hover{
    color: gray;
}
@media (min-width: 600px) {

    .list-title {
        font-size: 50px;
        color: rgb(66, 65, 65);
    }

    .back-button {
        top: 40px;
        left: 60px;
    }

    .list-item-card-container {
        width: 50%;
    }
} */


.list-main-content {
    width: 98%;
    margin: 0 auto;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.list-title {
    text-transform: uppercase;
    font-size: 140px;
    font-weight: 700;
    letter-spacing: -5px;;
    overflow-wrap: break-word;
    width: 100%;
    cursor: default;

}

.list-header-container {
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items:baseline;
    position: fixed;
    gap: 15px;
    width: 30%;
    left: 10px;
    
    /* top: calc(100vh - 84px); */

}

.list-contents-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;
    float: right;

}

.list-item-image-container {
    min-width: 354px;
    height: 354px;
}

.list-item-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-item-card-container {
    display: flex;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    gap: 20px;
    border: 1.5px solid #212427;
    transition: 0.3s ease all;
    cursor: pointer;
    text-decoration: none;
    color: #212427;
}

.list-item-card-container:hover {
    transform: scale(1.02)
}

.business-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    letter-spacing: -1px;
}

.business-info-container h1 {
    font-size: 65px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -2px;

}

.rating-and-address-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating-and-address-container p {
    font-size: 30px;
    letter-spacing: -2px;
}

.list-item-rating {
    font-size: 70px;
}

@media (max-width: 1244px) {
    .list-header-container {
        position:static;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .list-contents-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 90%;
        float:none;
        margin: 0 auto;
    
    }
}