.error-content-container {
    flex-direction: column;
    width: 100vw;
    height: 80vh;
}

.sorry {
    color: red;
    font-size: 70px;
}

.page-not-found {
    font-weight: 700;
    font-size: 30px;
}

@media (min-width: 600px) {
    .sorry {
        font-size: 150px;
    }   
}