.search-form {
    width: 100%;
    display: flex;
    
}
.search-bar {
    width: 90%;
    border: none;
    background-color: transparent;
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -3px;
    margin: 0 auto;
}

#empty-search-page .search-bar-container {
    width: 100%;
 }

.search-bar:focus{
    outline: none;
}
