.search-page-section {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}

.placeholder-for-map {
    height: calc(100vh - 178px)
    
}

#empty-search-page {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: calc(100vh - 300px);
    width: 100vw;
}

#search-page.loader-container {
    height: calc(100vh - 510px)
}

#search-error {
    font-size: 5vw;
    text-align: center;
}

@media (max-width: 712px) {
    .search-page-section .placeholder-for-map {
        display: none;
    }

    .search-page-section {
        grid-template-columns: 1fr;
        margin-bottom: 30px;
    }
}