.bold-and-uppercased {
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}
.business-page-container {
    width: 100vw;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images-header-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.bp-header-img-container {
    /* width: 33%; */
    height: 300px;
}

.bp-header-img-container  img,
.recs-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.business-info-section-container {
    width: 80%;
    margin: 0 auto;

}

.business-info-section-container-header > div {
    display: flex;
    justify-content: space-between;
}

.business-info-section-container h1 {
    text-transform: uppercase;
    font-size: 5rem;
    overflow-wrap: break-word;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 0.8;
}

.business-info-section-container h3 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.business-page-save-button,
.rating-button,
.delete-collection-button  {
    width: 100px;
    border: 1px solid #212427;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s all ease;
}

.rating-button,
.delete-collection-button {
    width: 300px;

}

.business-page-save-button:hover,
.rating-button:hover,
.delete-collection-button:hover {
    color:  #FBFBF4;
    border: 1px solid rgb(240, 128, 147);
    background-color: rgb(245, 156, 171);
    /* background-color: #212427;; */
}

.business-info-section-container-details h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -1px;
}

.business-info-section-container-details {
    display: grid;
    grid-template-columns: 0.75fr 1.25fr;
    margin-top: 20px;
}

.business-info-section-container-details > div {
    /* border: 1px solid red; */
}

.bp-map-container {
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    padding: 20px 5px;
}

.scores-panel-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.scores-panel-container .score-item {
    width: 90%;
}

.scores-panel-container .rating {
    font-size: 50px;
    font-weight: 700;
}

.rating-info h3 {
    font-weight: 500;
}

.rating-info p {
    text-transform: lowercase;
}

.recs-panel-container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin: 20px auto;
    
}

.recs-image-container {
    width: 100%;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.rec-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.438);
    position: absolute;
    border-radius: inherit;
    transition: 0.3s all ease;
    cursor: pointer;
}

.recs-image-container:hover .rec-overlay {
    background-color: rgba(0, 0, 0, 0.664);
}


.recs-image-container h2 {
    text-transform: uppercase;
    position: absolute;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: rgb(240, 240, 229);
    text-shadow: rgb(32, 32, 31) 1px 0 10px;;
    cursor: pointer;
}

.recs-panel-title,
.ratings-container-title {
    text-align: center;
    text-transform: lowercase;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-top: 20px;
}

.map-address {
    text-align: center;
}

.business-info-section-container,
.save-button-container,
.business-page-save-button,
.rating-button  {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.save-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
@media (max-width: 920px) {
    .business-info-section-container-details {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .business-hours-and-pop-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .business-info-section-container h1 {
        font-size: 4rem;
    }

    .business-info-section-container {
        width: 100%;
        box-sizing: border-box;
        padding: 5px 20px;
    }
}