.main-content-container {
    width: 100vw;
    height: 100vh;
    border: 1px solid yellow;
    position: relative;
    margin: 0 auto;
}

.placeholder-for-map {
    width: 0;
    height: 0;
    border: 1px solid green;
    float: left;
}

@media (min-width: 600px) {
    .main-content-container {
        width: 80vw;
        height: 100vh;
        border: 1px solid yellow;
        position: relative;
        margin: 0 auto;
    }
    .placeholder-for-map {
        width: 800px;
        height: 800px;
        border: 1px solid green;
        margin-top: 50px;
        margin-left: 50px;
        float: left;
    }
}