/* for mobile */
.main-content-container {
    width: 100vw;
    height: 80vh;
    /* border: 1px solid yellow; */
    margin: 0 auto;
    z-index: 10;
}

.placeholder-for-map {
    width: 0;
    height: 0;
}

/* for big screen */
@media (min-width: 600px) {
    .main-content-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }
    .placeholder-for-map {
        width: 45%;
        height: 90%;
        border: 1px solid green;
    }
}


@media (min-width: 1500px) {
    .main-content-container {
        width: 80vw;
        height: 90vh;
        border: 1px solid yellow;
        margin: 0 auto;
    }
    .placeholder-for-map {
        width: 60%;
        height: 90%;
    }
}

