#map {
    width:100%;
    height: 100%;
    /* border-radius: 15px; */
}

.tooltip-container {
    font-size: 25px;
    width: 200px;
    text-align: center;
}

.tooltip-container img {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.tooltip-container {
    font-size: 20px;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}