/* TODO Add site wide styles */
@import url("./utils/css_reset.css");
/* @import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&family=Comfortaa:wght@400;500;700&family=DM+Sans:wght@400;500;700&family=Poppins:wght@200;300;400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Kanit', sans-serif;
}

#root {
    position: relative;
}
body {
    font-family: 'Kanit', sans-serif;
    background-color: #FBFBF4;
    overflow-x: hidden;
    box-sizing: border-box;
}
body * {
    border: 1px solid red;
}