/* TODO Add site wide styles */
@import url("./utils/css_reset.css");
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Kanit', sans-serif;
}

#root {
    position: relative;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: #FBFBF4;
    color: #212427;
    overflow-x: hidden;
    box-sizing: border-box;
}

body * {
    /* border: 1px solid red; */
}

h1, h2, h3, h4, h5, h6, li, p, div {
    cursor: default;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

a {
    text-decoration: none;
    color: #212427;
    cursor: pointer;
}

.loader-container {
    width: 100vw;
    height: calc(100vh - 84px);
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
}

.login-form-title, 
.form-container,
.search-bar{
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.error-message {
    color: red;
}

.full-page {
    width: 100vw;
    height: calc(100vh - 910px)
}

/* prevent select */
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

