/* TODO Add site wide styles */
@import url("./utils/css_reset.css");
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700&family=Comfortaa:wght@400;500;700&family=DM+Sans:wght@400;500;700&display=swap');
* {
    font-family: 'Comfortaa', cursive;
}

#root {
    position: relative;
}
body {
    font-family: 'Comfortaa', cursive;
    background-color: rgb(240, 238, 238);
}
