.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header-container > div {
    display: flex;
    gap: 20px;
    align-items: center;
}

#app-logo {
    text-decoration: none;
    font-size: 60px;
    letter-spacing: -5px;
    font-weight: 700;
    width: 200px;
}

#logo {
    width: 100%;
}

#app-logo:visited {
    color: #212427;
}