.header-container {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    height: 18vh;
}

.bunny-logo {
    width: 200px;
}

@media (min-width: 600px) {
    .header-container {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid rgb(133, 133, 133);
    }
    .bunny-logo {
        width: 200px;
    }
}