#splash-root {
    width: 100%;
    height: calc(100vh - 84px);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

#splash-img-container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#splash-img {
    transform: rotate(90deg);
    margin-top: 37px;
    width: 700px;
    height: 100%;
    object-fit: cover;
    object-position: 25% 10%; 
    animation: fadeInAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#splash-logo {
    text-align: center;
    font-weight: 800;
    letter-spacing: -2px;
    font-size: 9rem;
    margin-top: 70px;
}

@media (max-width: 1068px) {
    #splash-logo {
        font-size: 13vw;
    }
}