.search-business-name {
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

.search-item-container {
    display: flex;
    border: 1px solid rgb(210, 214, 210);
    padding: 10px;
    line-height: 0.8;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #212427;
    gap: 10px;
    cursor: pointer;
}

.search-item-info h1,
.search-item-info p {
    cursor: pointer;
}

.search-item-info .filled {
    width: 30px;
    height: 30px;
    background-size: 29.5px;
    background-position-y: 100%;
    cursor: pointer;
}

.search-item-info .empty {
    width: 30px;
    height: 30px;
    background-image: url("../../assets/bunny-rating.png");
    background-size: 29.5px;
    cursor: pointer;
}

.search-item-info .rating-input {
    margin-top: auto;
}

.search-item-container:hover {
    background-color: rgba(221, 221, 221, 0.61);
}

.search-item-img-container {
    min-width: 150px;
    width: 150px;
    min-height: 150px;
    height: 150px;
    cursor: pointer;
}

.item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-item-info {
    display: flex;
    flex-flow: column nowrap;
    cursor: pointer;
}

.search-item-container:last-child {
    margin-bottom: 40px;
}
