.search-results-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.search-res-header {
    margin-top: 20px;
    text-align: center;
    display:block;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(209, 209, 209, 0.955);
    width: 100%;
    padding: 30px 0px;
}

.search-res-header p {
    font-size: 15px;
}

.search-location {
    font-size: 30px;
    font-family: 'Archivo', sans-serif;
}

/* medium screen */
@media (min-width: 600px) {
    .search-results-container {
        box-sizing: border-box;
        width: 40%;
        height: 90%;
        overflow-x: hidden;
        overflow-y: scroll;
        position: static;
        top:0;
    }
    .search-results-container::-webkit-scrollbar{
        display: none;
      }
}

/* bigger screen */
@media (min-width: 1500px) {
    .search-results-container {
        width: 40%;
        box-sizing: border-box;
    }
}
