/* .hopped-section-container {
    border: 1px solid green;
    width: 75vw;
    height: 82vh;
    box-sizing: border-box;
    padding: 30px;
    overflow-y: scroll;
}

.hopped-section-container h1 {
    font-family: 'Archivo', sans-serif;
    font-size: 50px;
}

.hopped-all-content {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    line-height: 1.2rem;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(210, 214, 210);
    padding: 10px;
    line-height: 1.3;
    margin: 8px 5px;
    box-shadow: 0px 5px 5px rgb(187, 185, 185);
    transition: all 0.3s ease;
    text-decoration: none;
    color: #212427;
}

.hopped-text-content {
    display: flex;
    align-items: center;

}
.hopped-section-container div:not(:first-of-type) {
    border-top: 1px solid rgba(128, 128, 128, 0.703);
}

.hopped-text-content h2 {
    font-family: 'Archivo', sans-serif;
    font-size: 20px;
}

.hopped-text-content p {
    font-size: 14px;
    color: rgb(110, 109, 109);

}

.text-content {
    margin: 0px 10px;
    
}
.hopped-text-content h3 {
    color: rgb(98, 98, 98)
}

.hopped-all-content img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
}

.hopped-rating {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hopped-all-content:hover {
    background-color: rgba(221, 221, 221, 0.61);
} */

.hopped-section-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hopped-section-container h1,
.preview-right h2 {
    text-transform: uppercase;
    font-size: 96px;
    font-weight: 700;
    letter-spacing: -2px;
    cursor: default;
    text-align: center;
}

.preview-right h2 {
    font-size: 4rem;
    text-align: right;
}

#hopped-content-container {
    display: grid;
    width: 95%;
    margin: 30px;
    box-sizing: border-box;
    grid-template-columns: 0.75fr 1.25fr;
    gap: 20px;
}

#hopped-content-container,
#hopped-preview-container,
.hopped-rating-list-container li {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#hopped-preview-container {
    height: 70vh;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 20px;
    right: 20px;
    /* width: 60%; */
}

#hopped-based-on-ratings-container,
.preview-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hopped-rating-list-container {
    display: flex;
    gap: 20px;
}

.hopped-rating-list-container div:first-child {
    font-size: 96px;
    font-weight: 700;
    cursor: default;
    color: rgb(71, 71, 71);
}

.hopped-rating-list-container ul {
    margin-top: 14px;
}

.hopped-rating-list-container li,
.hopped-section-container p {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(173, 173, 173);
    transition: 0.2s all ease;
}

.hopped-rating-list-container li:hover {
    transform: scale(1.05);
    color: rgb(238, 74, 164);
}

.preview-left-photo-1 {
    width: 300px;
    height: 400px;
}

.preview-left-photo-2 {
    width: 400px;
    height: 300px;
}
.preview-left-photo-1 img,
.preview-left-photo-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preview-right {
    justify-content: space-between;
    align-items: flex-end;
    text-align: right;
}

.preview-right > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.preview-right h3,
.hopped-section-container p {
    font-size: 2rem;
}

.hopped-section-container p {
    text-transform: lowercase;
    color:rgb(26, 25, 25);
    cursor: default;
}

.view-business-button {
    width: 300px;
    text-align: center;
    /* margin: 10px 0px; */
    margin-top: 30px;
    padding: 15px 0px;
    padding-left: 15px;
    border: 1px solid rgb(26, 25, 25);
    display:flex;
    justify-content: center;
    gap: 10px;
    border-radius: 999px;
    cursor: pointer;
    transition: 0.3s all ease;
}

.view-business-button:hover {
    /* color:  #FBFBF4; */
    border: 1px solid rgb(240, 128, 147);
    background-color: rgb(245, 156, 171);
}

#empty-hopped {
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 147px;
    gap: 30px;
}

.hopped-section-container .loader-container {
    height: calc(100vh - 510px)
}

@media (max-width: 1068px) {
    .hopped-section-container h1 {
        font-size: 10vw;
    }

    .hopped-section-container p {
        font-size: 3vw;
        letter-spacing: -1px;
    }

    .hopped-rating-list-container li {
        font-size: 3.2vw;
    }
}