/* .list-index-section-container {
    height: 82vh;
    box-sizing: border-box;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    overflow-y: scroll;
}


.list-index-container {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 15px;
    
}

.list-item {
    justify-self: stretch;
    padding: 40px;
    font-size: 1.5em;
    border: 1px solid rgb(199, 195, 195);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 900px);
    border-radius: 15px;
    text-decoration: none;
    color: rgb(65, 65, 65);
    font-weight: 700;
    transition: all 0.3s ease;
}

.list-item:hover  {
    background-color: rgba(145, 195, 245, 0.356);
}

.list-item a {
    text-decoration: none;
}

.list-item a:visited {
    color: black;
}

.create-list-input {
    width: 200px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid gray;
    transition: width 2s;
    outline: none;
    font-size: 18px;

}


.create-list-container {
    display:flex;
}

.list-add-to-list-button {
    font-size: 20px;
    padding: 10px;
    margin: 15px 0px;
    border-radius: 999px;
    background-color: rgba(156, 153, 153, 0.411);
    border: 1px solid rgb(216, 215, 215);
    transition: all 0.3s ease;
}

.list-add-to-list-button:hover {
    background-color: rgba(227, 227, 227, 0.24);
    color: rgb(26, 26, 26);
    cursor: pointer;
}

.list-index-title {
    font-size: 50px;
    font-family: 'Archivo', sans-serif;
}

@media (min-width: 600px) {
    .list-index-section-container {
        width: 70%
    }
}

@media (min-width: 919px) {
    .page-container {
        border: 1px solid green;
        display: flex;
    }
    .list-index-container {
        flex: 1;
        width: 80%;
        grid-template-columns: 280px 280px;
        
    }
    .list-index-title {
        font-size: 50px;
        color: rgb(0, 0, 0);

    }
    .list-item {
        padding: 40px;
        font-size: 1.5em;
    }
    
}
@media (min-width: 983px) {
    .list-index-section-container {
        width: 75%;
    }
}
@media (min-width: 1415px) {
    .list-index-container {
        grid-template-columns: 300px 300px 300px;
    }
}

@media (min-width: 1514px) {
    .list-index-container {
        grid-template-columns: 300px 300px 300px 300px;
    }
}



 */

 .list-index-section-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;

 }


.list-index-title {
    text-transform: uppercase;
    font-size: 96px;
    font-weight: 700;
    letter-spacing: -2px;
    cursor: default;
}

.list-index-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.list-item {
    width: 300px;
    height: 300px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-decoration: none;
    text-transform: lowercase;
    color: #212427;
    font-size: 36px;
    padding: 15px;
    font-weight: 700;
    letter-spacing: -2px;
    border: 1px solid #212427;
    transition: 0.3s all ease;
}

.list-item p {
    font-weight: 300;
    font-size: 24px;
}

.list-item:hover {
    background-color: pink;
}

.list-item p,
.list-item h1,
.business-info-container h1,
.rating-and-address-container p{
    cursor: pointer;
}

@media (max-width: 1068px) {
    .list-item {
        width: 200px;
        height: 200px;
    }

    .list-index-title {
        font-size: 10vw;
    }

}

@media (max-width: 540px) {
    .list-item {
        width: 100%;
    }
}