.login-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 90px;
    letter-spacing: -4px;
    text-align:center;
}

.login-beans {
    max-width: 762px;
    width: 60%;
    margin-top: 20px;
}


.sign-in-text-box {
    width: 50%;
    border: none;
    background-color: transparent;
    font-size: 25px;
    text-align: center;
    font-weight: 300;
    letter-spacing: -1px;
    padding: 10px;
    border-bottom: 1px solid gray;
    border-radius: 15px 15px 0px 0px;
}

.sign-in-text-box:focus{
    outline: none;
}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 20px;
}

.create-acc-line a {
    font-weight: 600;
}

.login-button {
    width: 300px;
    padding: 10px 0px;
    border: 1px solid gray;
    border-radius: 999px;
    text-transform: uppercase;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s all ease;
}

@media (max-width: 1253px) {
    .login-beans {
        width: 60%;
        margin-top: 20px;
    }
}

@media (max-width: 676px) {
    .login-container {
        justify-content: flex-start;
        margin-top: 70px;
    }
    .login-form-title {
        font-size: 13vw;
    }

    .login-button,
    .sign-in-text-box {
        width: 90%;
    }
}