.form-container {
    /* border: 1px solid black; */

}

.form-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
}

.form-input-container * {
    margin: 5px;
}

.input-container {
    display: flex;
    margin: 0 auto;
    /* border: 1px solid orange; */
}
.input-container * {
    display: block;
}

label {
    display: block;
    /* border: 1px solid yellow; */
    margin: 0 auto;
}

.submit-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid darkblue */
}

.submit-buttons-container * {
    margin: 5px;
}

.login-button {
    width: 300px;
    height: 30px;
    border-radius: 999px;
    /* border: 1px solid gray; */
    cursor: pointer;
    transition: all 0.3s ease;
}
.login-button:hover {
    background-color: #e7e7e7;
    color: red;
    /* border: 1px solid blue; */
    
}
.login-button:focus {
    box-shadow: inset 0px 1px 2px #6e6e6e;
}

input[type=text], input[type=password] {
    padding: 5px;
    border-radius: 6px;
    border: 1px solid gray
}

.create-acc-line {
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}