.nav-container {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-container div {
    display: flex;
    gap: 4px;
    align-items: center;
}

.nav-container a,
.nav-container div {
    text-decoration: none;
    font-size: 1.3em;
    letter-spacing: -1px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s all ease;
}

.nav-container a:visited {
    color: #212427;
}

.nav-container a:hover,
.nav-container div:hover {
    color: rgb(250, 150, 166);
}

#hamburger-button, #nav-panel-container{
    display: none;
}


@media (max-width: 920px) {
    .nav-container {
        display: none;
        width:0;
    }

    #hamburger-button {
        display: block;
        cursor: pointer;
    }

    #nav-panel-container {
        display: block;
        width: 100vw;
        height: 100vh;
        background-color: #FBFBF4;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #nav-panel-container{
        animation: fadeInAnimation ease 0.3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    #nav-panel-close-btn {
        padding-top: 40px;
        cursor: pointer;
    }

    #nav-panel-close-btn:hover {
        color: blue;
    }

    #nav-panel-container a,
    #nav-panel-container div {
        font-size: 8vw;
        cursor: pointer;
        transition: 0.3s all ease;
        color: rgb(85, 83, 83);
    }

    #nav-panel-container a:hover,
    #nav-panel-container div:hover,
    #nav-panel-container li:hover{
        color: rgb(255, 165, 180);
        transform: scale(1.15)
    }

    #nav-panel-container .social-links-container {
        display: flex;
        
    }

    #nav-panel-container .logout-btn {
        margin-top:auto;
    }
}